[Global]
ShowFrame=false
Rows=1

[Applications]
dropbox=false
gigolo=false
networkmanager applet=false
skype=false
xfce4-power-manager=false
update-notifier=false
audacious=false
spotify=false
transmission=false
last.fm=false
system-config-printer-applet=false
polkit-gnome-authentication-agent-1=false
vlc=false

