[Global]
ShowFrame=false
Rows=1

[Applications]
applet.py=false
audacious=false
decibel-audio-player.py=false
dropbox=false
exaile.py=false
gigolo=false
gmusicbrowser=false
gnome remote desktop=false
last.fm=false
miro=false
networkmanager applet=false
pidgin=false
polkit-gnome-authentication-agent-1=false
skype=false
sonata=false
spotify=false
system-config-printer-applet=false
transmission=false
trayicon=false
update-notifier=false
wicd-client.py=false
xchat=false
xfce4-power-manager=false

